<section class="flex bg-red-100">

    <div class="flex w-full flex-col items-center justify-center gap-3">
        <div class="flex flex-row gap-3">

            <span> - </span>
            <span> <i class="fa-solid fa-house"></i> </span>
            <span>
              دوره های آموزشی     
            </span>
            <span> - </span>

        </div>


        <div class="flex w-full flex-row items-center justify-center bg-green-400">
            <input type="text" placeholder="Type here" class="input input-bordered w-[50%]" />
            <button class="btn btn-square bg-black">
                <i class="fa-solid fa-magnifying-glass text-white" ></i>
            </button>
        </div>


    </div>

</section>