@model RegisterViewModel


<div class="">

    
    
<div class="font-[sans-serif] flex flex-col justify-center p-4">
    <div class="mx-auto mt-10 w-full max-w-md rounded-2xl border border-gray-300 p-8">
        <div class="mb-12 text-center">
            <a href="javascript:void(0)">
                <img src="https://readymadeui.com/readymadeui.svg" alt="logo" class='inline-block w-40' />
            </a>
        </div>

        <form asp-action="register" asp-controller="account" method="post">
                @Html.AntiForgeryToken()
            <div class="space-y-6">
                <div>
                    <label class="mb-2 block text-sm text-gray-800">نام </label>
                    <input asp-for="Name" type="text" class="w-full rounded-md border border-gray-300 bg-white px-4 py-3 text-sm text-gray-800 outline-blue-500" placeholder="نام خود را وارد کنید " />
                </div>

                    <div>
                        <label class="mb-2 block text-sm text-gray-800">نام کاربری </label>
                        <input asp-for="Username" type="text" class="w-full rounded-md border border-gray-300 bg-white px-4 py-3 text-left text-sm text-gray-800 outline-blue-500" placeholder="یک نام کاربری انتخاب کنید" />
                    </div>

                <div>
                    <label class="mb-2 block text-sm text-gray-800">ایمیل </label>
                    <input asp-for="Email"   type="email" class="w-full rounded-md border border-gray-300 bg-white px-4 py-3 text-sm text-gray-800 outline-blue-500" placeholder="ایمیل خود را وارد کنید" />
                </div>


                <div>
                    <label class="mb-2 block text-sm text-gray-800">کلمه عبور </label>
                    <input asp-for="Password"  type="password" class="w-full rounded-md border border-gray-300 bg-white px-4 py-3 text-sm text-gray-800 outline-blue-500" />
                </div>
                <div>
                    <label class="mb-2 block text-sm text-gray-800">کلمه عبور را دوباره وارد کنید</label>
                        <input asp-for="ConfirmPassword" type="password" class="w-full rounded-md border border-gray-300 bg-white px-4 py-3 text-sm text-gray-800 outline-blue-500" />
                </div>
@* 
                <div class="flex items-center">
                    <input id="remember-me" name="remember-me" type="checkbox" class="shrink-0 h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500" />
                    <label for="remember-me" class="ml-3 block text-sm text-gray-800">
                        I accept the <a href="javascript:void(0);" class="ml-1 font-semibold text-blue-600 hover:underline">Terms and Conditions</a>
                    </label>
                </div> *@
            </div>

            <div class="!mt-12">
                <button type="submit" class="w-full rounded-md bg-blue-600 px-4 py-3 text-sm font-semibold tracking-wider text-white hover:bg-blue-700 focus:outline-none">
                    ایجاد حساب کاربری
                </button>
            </div>
            <p class="mt-6 text-center text-sm text-gray-800">قبلا اکانت ساخته اید؟
                
                <a
                    asp-controller="account"
                    asp-action="login"
                    
                     class="ml-1 font-semibold text-blue-600 hover:underline"> لاگین کنید</a></p>
        </form>
    </div>
</div>
 

</div>